{{>partial_header}}
package {{packageName}}

import (
	"context"
	{{#imports}}
	"{{import}}"{{/imports}}
)

// New{{classname}}Service creates a default api service
func New{{classname}}Service() {{classname}}Servicer {
	return &{{classname}}Service{}
}{{#operations}}{{#operation}}

// {{nickname}} - {{summary}}
func (s *{{classname}}Service) {{nickname}}(ctx context.Context{{#allParams}}, {{paramName}} {{dataType}}{{/allParams}}) (ImplResponse, error) {
	return s.{{nickname}}_Impl(ctx{{#allParams}}, {{paramName}}{{/allParams}})
}{{/operation}}{{/operations}}

